body {
    width: 480px;
}

header {
    height: 75px;
    width: 100%;
    line-height: 75px;
}
article {
    height: 150px;
    width: 100%;
    line-height: 150px;
}

.section1 {
    height: 250px;
    width: 100%;
    line-height: 125px;
}

.section2 {
    height: 500px;
    line-height: 480px;
    width: 100%;
    display: grid;
    grid-template: 50% 50% / 50% 50%;
}

.section2 > div {
    height: 250px;
    width: 240px;
    line-height: 250px;
}

footer {
    height: 80px;
    width: 100%;
    line-height: 80px;
}


@media (min-width: 768px) {
    
    body {
        width: 960px;
    }
    
    header {
        height: 100px;
        width: 100%;
        line-height: 100px;
    }
    
    article {
        height: 200px;
        width: 100%;
        line-height: 200px;
    }
    
    .section1 {
        display: flex;
        height: 200px;
        width: 960px;
    }
    
    .section1 > div {
        height: 200px;
        width: 480px;
        line-height: 200px;
    }
    
    .section2 {
        display: flex;
        height:250px;
        width: 960px;
    }
    
    .section2 > div {
        height: 250px;
        width: 240px;
        line-height: 250px;
    }
    
    footer {
        height:150px;
        width: 100%;
        line-height: 150px;
    }

}

@media (min-width: 1200px) {
    body {
        width: 1200px;
    }
    
    header {
        height: 150px;
        width: 100%;
        line-height: 150px;
    }
    
    article {
        float: left;
        height: 600px;
        width: 300px;
        line-height: 600px;
    }
    
    .section1 {
        display: flex;
        height: 200px;
        width: 900px;
    }
    
    .section1 > div {
        height: 200px;
        width: 450px;
        line-height: 200px;
    }
    
    .section2 {
        display: flex;
        height:250px;
        width: 900px;
    }
    
    .section2 > div {
        height: 250px;
        width: 225px;
        line-height: 250px;
    }
    
    footer {
        height:150px;
        width: 900px;
        line-height: 150px;
    }
}
